{% extends "base.html" %}
{% block content %}

<header class="text-white flex flex-wrap items-center gap-4 justify-between px-4 md:px-10 mb-6 md:mb-12">
    <div>
        <h2 class="text-3xl md:text-4xl font-bold text-gray-300">
            Photo <span class="bg-gradient-to-r from-yellow-400 to-rose-500 text-transparent bg-clip-text">Gallery</span>
        </h2>
        <p class="text-gray-400 italic">An online spot where anyone can upload pictures</p>
    </div>
    <ul>
        <li>
            <a href="{{ url_for('create') }}" 
               class="bg-indigo-500 text-white font-medium rounded py-2 px-5 shadow-md hover:bg-indigo-600 transition-colors duration-300">
                + Create
            </a>
        </li>
    </ul>
</header>

<hr class="hidden md:block mb-6 border-t-2 border-gray-700 mx-4 md:mx-10">

<div class="px-4 md:px-10">
    <!-- Gallery -->
    {% if photos %}
    <div class="columns-2 sm:columns-3 md:columns-4 lg:columns-5 gap-4">
        {% for photo in photos %}
        <a href="{{ url_for('i_view', i_title=photo.title.replace(' ', '-'), i_id=photo.id) }}">
            <div class="relative mb-4 break-inside-avoid rounded-lg overflow-hidden shadow-lg bg-gray-900 border border-gray-800 hover:border-indigo-500 transition duration-300 hover:scale-[1.03] cursor-pointer">
                <img src="{{ url_for('static', filename='uploads/' + photo.filename) }}" 
                    alt="{{ photo.title }}"
                    class="w-full h-auto object-cover hover:opacity-90 transition-opacity duration-300">
                <div class="p-4">
                    <h2 class="text-lg font-semibold text-gray-200">{{ photo.title }}</h2>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    {% else %}
    <p class="text-center text-gray-500 mt-10 text-lg">No images uploaded yet.</p>
    {% endif %}
</div>

{% endblock %}
